.Password-form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    height: 100%;
    margin-top: 5%;
    

}

.Button-sizing {
    width: 50%;
    max-width: 400px;
    padding: 15px;
    margin: 25px;
    height: 100%;
    display: inline-block;

}

